.clockContainer{
    background-color: blanchedalmond;
    background:url(clock.jpeg) no-repeat;
    background-size: 100%;
    width: 40vw;
    height:84vh;
    margin: auto;
}
#hour,#minute,#second{
        border-radius: 12px;
        background: black;
        transform-origin: bottom;
}
#hour{
    position: absolute;
    top: 30.4%;
    left: 49.60%;
    width: 1%;
    height: 13%;
}
#minute{
    position: absolute;
    top: 19%;
    left: 49.65%;
    width: 0.55%;
    height: 25%;
}
#second{
    position: absolute;
    top: 10%;
    left: 49.79%;
    width: 0.41%;
    height: 33%;
}